{% load staticfiles %}

<h1 class="slim-title">Projects in Progress</h1>
<p class="slim-date">last updated: July 2018</p>

<div class="highlight">
	<h2>Interactive Exhibits for the Maine State Museum</h2>
	<p>We&apos;re developing a digital exhibit about the <em>History of Maine Labor</em> mural located in the lobby of the Maine State Museum. The eleven-panel mural illustrates the labor movement in Maine; the touch screen interactive lets visitors learn about the people and events depicted in the mural.</p>

	<p>The museum is also creating a new Education Center. We&apos;re envisioning digital experiences that complement and enliven the physical exhibits. Early mockups include a virtual water-powered mill, an activity about sorting and classification of a virtual &ldquo;cabinet of curiosities,&rdquo; and digital &ldquo;magic lenses&rdquo; that let visitors enlarge, transcribe and look beneath the surface of artifacts and documents.</p>
</div>

<div class="highlight">
	<h2>Picturing Urban Renewal</h2>
	<p>Working under a recently awarded NEH/IMLS Digital Humanities Advancement Grant, we&apos;re collaborating with scholars from the University of Albany to prototype a map-based exploration of the history of urban renewal. The goal of the project is to enable website visitors to explore and compare transformative urban renewal projects in four northeastern cities from both a personal, steet-level viewpoint as well as from a city-wide, overview perspective.</p>
</div>

<div class="highlight">
	<h2>American Anthropocene</h2>
	<p>Scholars from Brown University&apos;s John Carter Brown Library invited us to join the project team for a website that will explore the human role in environmental change in the Americas. We contributed to the library&apos;s NEH Digital Projects for the Public grant which, if awarded would begin winter 2018/19.</p>
</div>