{% load staticfiles %}

<h1 class="slim-title">Explore Maine&apos;s History of Labor Mural</h1>
<p class="slim-date">2020, Maine State Museum</p>

<div class="highlight">
	<h2>About this Interactive</h2>
	<p>Lorem ipsum</p>
	<img src="{% static 'sitewide/projects/detailpics/' %}labor-mural-panel.jpg" alt="one of the eleven panels that make up the mural showing tap-able hotspots">
</div>

<div class="highlight">
	<h2>Introduction to this Panel</h2>
	<p>lorem ipsum</p>
	<img src="{% static 'sitewide/projects/detailpics/' %}labor-mural-intro.jpg" alt="The introductory information about this panel">
</div>

<div class="highlight">
	<h2>Hotspot popup</h2>
	<p>lorem ipsum</p>
	<img src="{% static 'sitewide/projects/detailpics/' %}labor-mural-popup.jpg" alt="information about this hotspot">
</div>
